<div class="mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 lg:px-8">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
      <span class="block xl:inline text-indigo-600">Posts</span>
    </h1>
    <%= link_to 'New post', new_post_path, class: "flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10 hidden" %>
  </div>

  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="pt-2 pb-4">
      <%= form_with(url: posts_path, method: "GET", data: { controller: "form-submission", turbo_frame: "posts", turbo_action: "advance" }) do |form|%>
        <%= form.text_field :query, placeholder: 'Search', class: 'input', data: { action: "input->form-submission#search" } %>
      <% end %>
    </div>

    <%= render "posts", posts: @posts %>

    <div class="text-gray-500 font-medium p-2 block">
      <div class="text-center text-sm w-1/2 mx-auto">
        This feature is powered by Hotwire and Turbo. See <span class="text-indigo-600">my guide</span> for instructions on how you can build the same!
      </div>
      <a href="https://hotwired.dev/">
        <%= image_tag 'hotwire_logo.jpeg', class: "p-2 w-1/2 max-w-xs mx-auto" %>
      </a>
    </div>
  </div>
</div>
