<div class="mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 lg:px-8">
  <div class="text-left">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="mb-4 md:w-3/4">
      <div data-controller="rich-text" class="text-gray-900">
        <p class="font-bold text-3xl mb-2">
          <%= @post.title %>
        </p>

        <p class="text-xl mb-2">
          <%= @post.heading %>
        </p>

        <p class="text-sm text-gray-500 italic">
          Published: <%= time_tag @post.created_at %> - Updated: <%= time_tag @post.updated_at %>
        </p>

        <p class="my-4">
          <%= @post.content %>
        </p>


        <div class="w-full text-sm text-gray-500 italic text-right">
          <p>Thanks for reading!</p>
          <p>- Chris</p>
        </div>

        <% if action_name != "show" %>
          <div class="mt-6">
            <%= link_to "Show this post", @post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
            <%= link_to 'Edit this post', edit_post_path(@post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %> 
          </div>

          <hr class="my-6">
        <% end %>
      </div>
    </div>

    <hr class="pb-4">

    <div class="pb-4">
      <%= render partial: "comments/form", locals: { comment: Comment.new } %>
    </div>

    <hr class="pb-4">

    <%= turbo_stream_from @post, :comments %>
    <div id="<%= "#{dom_id(@post)}_comments" %>" class="w-full md:w-3/4">
      <%= render @post.comments.order(created_at: :desc) %>
    </div>

    <%= link_to 'Edit this post', edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Back to posts', posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
