<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>chrisclifton.dev</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💻</text></svg>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <%= render partial: 'layouts/nav' %>

      <div class="py-10">

        <main class="px-2">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
